<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Account Activation </title>
    </head>

    <body>
        <p>You're receiving this email.because you need to activation your account</p>
        <p style="margin-bottom: 100px;"><a style="display: inline-block; padding: 10px 20px; background-color: red; color: wheat;" href="{{activation_url}}">Activate Account</a></p>
        <span>Follow Us:</span>
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="#" style="color: wheat; font-size: 10px; margin: 5px; padding: 5px; border-radius: 10%; background-color: #E1306C;">Instagram</a>
            <a href="#" style="color: wheat; font-size: 10px; margin: 5px; padding: 5px; border-radius: 10%; background-color: #1da1f2;">Instagram</a>
        </div>
        <i> if you face difficulties on account activation kindly contact us on : xmy@gmail.com</i>
    </body>
</html>